{% extends 'base.html' %}
{% block content %}
<main class="container py-5">
    <section class="card card-body">
        <h1 class="display-1 text-center">Django app</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam, placeat consectetur nemo veritatis ipsam,
            aperiam
            repellendus temporibus fugit, fugiat quidem maiores. Repellendus recusandae minus cum, eos ullam similique
            rerum
            officiis corrupti molestiae illum vel obcaecati voluptatibus cumque. At inventore nam fugit provident
            maiores a
            ipsa, vel, enim ut minus, amet placeat. Architecto dolore a neque praesentium recusandae maiores ratione
            consectetur, facere hic fugit repellendus enim totam velit iusto facilis tenetur quaerat ipsa. Mollitia iure
            doloremque perferendis nesciunt, sit iste sunt illum, reprehenderit optio soluta, id fuga. Dolorum explicabo
            corrupti, voluptate harum odio perferendis earum natus veritatis reiciendis aliquam illum minima?</p>
        <div class="text-center">
            <a class="btn btn-dark" href="/signin">
                Signin
            </a>
            <a class="btn btn-secondary" href="/signup">
                Signup
            </a>
        </div>
    </section>
</main>
{% endblock %}